@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --disabled-btn-background: #d2d2d2;
  --disabled-btn-color: #ababab;
  --content-max-width: 60rem;
  --color-light: #fff;
  --color-dark: #111;
  --color-light-gray: #aaa;
  --color-dark-gray: #555;
  --color-darker-gray: #383838;
}

@layer base {
  html {
    @apply m-0 h-full p-0 font-sans;
  }

  body {
    @apply m-0 h-full p-0;
  }

  table {
    @apply mb-4 border-collapse;
  }

  thead {
    @apply border-b-2 border-b-gray-100;
  }

  tr {
    @apply border-t-2 border-t-gray-100;
  }

  th {
    @apply p-4;
  }

  td {
    @apply p-2 text-center;
  }
}

@layer components {
  .btn {
    @apply whitespace-nowrap rounded border-2 border-gray-600 px-2 py-1 align-middle font-semibold leading-6 text-white transition-colors;
  }
  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700;
  }
  .btn-success {
    @apply bg-green-600 hover:bg-green-700;
  }
  .btn-danger {
    @apply bg-red-600 hover:bg-red-700;
  }
  .form-control {
    @apply box-border block h-9 w-full rounded-md border-[1px] border-gray-100 bg-clip-padding px-1 py-3 leading-6 text-gray-800 shadow transition-all focus:border-gray-400 dark:bg-gray-900 dark:text-white;
  }
  .form-control-small {
    @apply inline-block rounded-md border-[1px] border-gray-100 bg-clip-padding px-1 py-2 leading-5 text-gray-800 shadow transition-all focus:box-border focus:border-gray-400 dark:bg-gray-800 dark:text-white;
  }
}
