@page "/groupcart/{GroupId:guid}"


@if (string.IsNullOrWhiteSpace(error) && group is not null)
{
    <PageTitle>@group?.Name</PageTitle>

    <CartGroupComponent CartProducts="cartProducts" StoreProducts="storeProducts" CartGroup="group" @rendermode="RenderMode.InteractiveWebAssembly" />
}
else
{
    <p class="p-2">@error</p>
}


