@inherits LayoutComponentBase

<nav class="flex justify-center bg-gray-200 w-full dark:bg-gray-500 dark:text-white">
  <div class="flex justify-between w-full max-w-[--content-max-width] px-4 items-center">
    <div class="flex items-center select-none">
      <a href="/"><img width="48" src="/cart128.png" alt="Logo" /></a>
      <h3 class="font-bold text-xl dark:text-gray-100">Grocery List Helper</h3>
    </div>
    @if (_loggedInUserInfo?.IsAuthenticated == true)
    {
        <ProfileButton />
    }
    else
    {
      <a id="login-link" class="text-blue-700 text-lg mx-4 align-middle" href="api/Account/Login">Log in</a>
    }
  </div>
</nav>

<main class="min-h-full bg-[url('../store-transparent.webp')] bg-cover">
  <div class="bg-gray-100 mx-auto max-w-[--content-max-width] dark:bg-gray-800 dark:text-white">
    @Body
  </div>
</main>
