@page "/about"
<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value="About" />

<h2 class="text-center">Grocery List Helper<sup> &copy;M&S Productions</sup></h2>
<h3 class="text-center">Helps you remember</h3>
<br />
<h4 class="text-center">This site stores your email and uses cookies to store your session.</h4>
<h4 class="text-center">By using this site you agree to the use of cookies.</h4>

