@page "/"
@inherits IndexBase
<PageTitle>Grocery List Helper v1.3</PageTitle>

<CartComponent />

<CartSummaryRowComponent />

<AuthorizeView>
    <Authorized>
        <ChooseCartShareOptionComponent />
        @if (ViewModel.ShareMode == ShareModeType.Self)
        {
            <ShareSelfCartComponent />
        }
        else
        {
            <JoinCartComponent />
        }
        <p style="margin-left: 1rem;">@ViewModel.ShareCartInfo</p>
    </Authorized>
</AuthorizeView>