@page "/"
@inherits IndexBase
<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value="Grocery List Helper v1.3" />

<h2 class="text-center">Grocery List Helper</h2>

<CartComponent />

<CartSummaryRowComponent />

<AuthorizeView>
    <Authorized>
        <ChooseCartShareOptionComponent />
        @if (ViewModel.ShareMode == ShareModeType.Self)
        {
            <ShareSelfCartComponent />
        }
        else
        {
            <JoinCartComponent />
        }
        <p style="margin-left: 1rem;">@ViewModel.ShareCartInfo</p>
    </Authorized>
</AuthorizeView>