:root {
    --disabled-btn-background: #D2D2D2;
    --disabled-btn-color: #ABABAB;
    --content-max-width: 60rem;
    --color-light: #fff;
    --color-dark: #111;
    --color-light-gray: #AAA;
    --color-dark-gray: #555;
    --color-darker-gray: #383838;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    min-width: fit-content;
    margin: auto;
    min-height: 100vh;
}

.mt-0 {
    margin-top: 0 !important;
}

.message {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: #007bff;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    margin: 0 1rem;
}

.text-center {
    text-align: center !important;
}

.btn {
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    .btn:disabled {
        color: var(--disabled-btn-color);
        transition: none;
    }

.btn-primary {
    background-color: #007bff;
}
    .btn-primary:hover {
        background-color: #0069d9;
    }
    .btn-primary:disabled {
        background-color: var(--disabled-btn-background);
    }

.btn-success {
    background-color: #28a745;
}
    .btn-success:hover {
        background-color: #1A762F;
    }
    .btn-success:disabled {
        background-color: var(--disabled-btn-background);
    }

.btn-danger {
    background-color: #dc3545;
}
    .btn-danger:hover {
        background-color: #932631;
    }
    .btn-danger:disabled {
        background-color: var(--disabled-btn-background);
    }

.form-group {
    display: block;
    margin: 0.5rem 0 1rem 0;
}

    .form-group > label {
        margin: 0.75rem;
    }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    display: block;
    width: 100%;
    margin: 0.25rem 0;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    box-sizing: border-box;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .form-control:focus {
        box-shadow: 0 0 10px 3px rgba(71, 133, 183, 0.30);
        border: 1px solid #8B8D8F;
    }

.form-control-small {
    display: inline-block;
    padding: .25rem .5rem;
    line-height: 1.2;
    color: #495057;
    box-sizing: border-box;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .form-control-small:focus {
        box-shadow: 0 0 10px 3px rgba(71, 133, 183, 0.30);
        border: 1px solid #8B8D8F;
    }

@media (prefers-color-scheme: dark) {
    .form-control .form-control-small {
        color: #fff;
        background-color: #222;
    }
}

.small-message {
    font-size: 1rem;
    margin: auto 0.5rem auto 0.5rem;
}

.small-loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

.loader {
    border: 16px solid #f3f3f3;
    margin: auto;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

table {
    margin-bottom: 1rem;
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid #dee2e6;
}

tr {
    border-top: 1px solid #dee2e6;
}

th {
    padding: 1rem;
}

td {
    text-align: center;
    padding: 0.5rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
