.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.checkbox {
    margin: auto;
    transform: scale(2,2);
}

th {
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}
