.last-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 2rem;
}

b {
    text-align: center;
    vertical-align: middle;
    text-wrap: none;
}