.product-col {
    min-width: 150px;
}

.number-col {
    min-width: 100px;
}

.checkbox {
    margin: auto;
    transform: scale(2,2);
}

.sort-buttons {
    display: flex;
    flex-direction: column;
}

.sort-buttons > button {
    margin: 5px;
}
