<div class="share-cart-option">
    <b class="text-nowrap">You can share cart state with other users, choose how:</b>
    <select class="form-control select" @onchange="ChangeMode">
        <option value="@ShareModeType.Self">Share your cart</option>
        <option value="@ShareModeType.Join">Join a cart</option>
    </select>
</div>

@code {
    [Parameter] public EventCallback<ShareModeType> SwitchShareMode { get; set; }

    private async Task ChangeMode(ChangeEventArgs e)
    {
        await SwitchShareMode.InvokeAsync(Enum.Parse<ShareModeType>(e.Value.ToString()));
    }
}
