@inherits JoinCartComponentBase

<div class="join-component">
    <p>Join someone else's cart by giving their email:</p>

    <div class="join-email-row">
        <input type="email" required class="form-control" @bind="ViewModel.CartHostEmail" placeholder="Cart owner email" />
    </div>

    <div>
        <button class="btn btn-primary" @onclick="JoinCart" disabled="@ViewModel.IsPolling">Join cart</button>
        <button class="btn btn-secondary text-nowrap" @onclick="ExitCart" disabled="@(!ViewModel.IsPolling)">Exit cart</button>
    </div>
</div>



