.component {
    margin: 1rem;
}

.component-row {
    margin-bottom: 5px;
    display: flex;
    width: var(--width);
}

.email-text {
    margin: 5px;
    width: var(--width);
}
.email-button {
    margin: auto;
}