@inherits ShareSelfCartComponentBase

<div class="component">
    <p>Share your cart with these users:</p>
    <div class="component-row">
        <EditForm Model="AllowEmail" OnValidSubmit="AddUser">
            <FluentValidationValidator />
            <ValidationSummary />
            <div class="component-row">
                <InputText type="email" required class="form-control" @bind-Value="AllowEmail.Email" placeholder="User email" />
                <button type="submit" class="btn btn-success">+</button>
            </div>
        </EditForm>
    </div>
    @for (int i = 0; i < ViewModel.AllowedUsers.Count; i++)
    {
        var index = i;
        <div class="component-row">
            <div class="email-text">@ViewModel.AllowedUsers[index]</div>
            <button class="btn btn-danger email-button" @onclick="()=>DeleteUser(ViewModel.AllowedUsers[index])">X</button>
        </div>
    }

    <div>
        <button class="btn btn-primary" @onclick="ShareCart" disabled="@ViewModel.IsPolling">Share your cart</button>
        <button class="btn btn-secondary" @onclick=" ExitCart" disabled="@(!ViewModel.IsPolling)">Exit cart</button>
    </div>
</div>



