@if (userInfo is not null && userInfo.IsAuthenticated)
{
    @ChildContent
}
else
{
    <div class="p-4">
        <h4>You are not authorized to see this content.</h4>
        <a href="/">Back to App</a>
    </div>
}
