.summary-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
}

.checkbox {
    transform: scale(2,2);
}

#filter-collected-label {
    margin: 5px;
    font-weight: bold;
}