@using System.Globalization;
@inherits CartSummaryRowComponentBase

<div class="grid grid-cols-4 items-center justify-items-center gap-4 pb-4">
    <div class="flex justify-self-start ml-8">
        <input id="filter-collected-checkbox" type="checkbox" class="scale-150" @bind=@ViewModel.ShowOnlyUncollected />
        <label id="filter-collected-label" class="m-1 font-bold no-wrap" for="filter-collected-checkbox">Filter collected</label>
    </div>
    <b id="cart-total">Total: @Total.ToString("N2", CultureInfo.InvariantCulture) €</b>
    <button class="btn btn-primary mx-4" disabled="@ViewModel.IsPolling" @onclick="ClearCartProducts" aria-label="Clear cart">Clear cart</button>
    <button class="btn btn-primary mx-4" disabled="@ViewModel.IsPolling" @onclick="ClearStoreProducts" aria-label="Clear store products">Clear shop</button>
</div>


