<dialog class="confirm" @ref=modal>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="header-text">@Header</h3>
        </div>
        <div class="modal-body">
            <p class="body-text">@Message</p>
            <form method="dialog">
                <button class="btn btn-success" autofocus @onclick=OkCallback>Ok</button>
                <button class="btn btn-danger" @onclick=CancelCallback>Cancel</button>
            </form>
        </div>
    </div>
</dialog>
