<dialog class="border-2 border-gray-500 rounded max-w-md animate-fade-in-down p-0" @ref=modal>
    <div class="font-semibold">
        <div class="bg-[#28a745] text-white p-2">
            <h3 class="text-xl font-semibold">@Header</h3>
        </div>
        <div class="p-2">
            <p class="pb-2">@Message</p>
            <form method="dialog">
                <button class="btn btn-success" autofocus @onclick=OkCallback>Ok</button>
                <button class="btn btn-danger" @onclick=CancelCallback>Cancel</button>
            </form>
        </div>
    </div>
</dialog>
