<dialog class="border-2 border-gray-500 mt-32 rounded max-w-md animate-fade-in-down p-0 backdrop:bg-gray-900/60" @ref=modal>
    <div class="font-semibold">
        <div class="bg-[#28a745] text-white p-2">
            <h3 class="text-xl font-semibold">@Header</h3>
        </div>
        <div class="p-2">
            <p class="pb-2">@Message</p>
            <form method="dialog" class="flex justify-around">
                <button class="btn btn-success" autofocus @onclick=OkCallback aria-label="Yes">Yes</button>
                <button class="btn btn-danger" @onclick=CancelCallback aria-label="No">No</button>
            </form>
        </div>
    </div>
</dialog>
