@inject IJSRuntime JS

<div class="copybutton">
    <input type="text" @bind="Text" />
    <button @onclick="CopyToClipboard"><i class="fas fa-copy"></i></button>
</div>

@code {
    [Parameter] public string Text { get; set; } = "";

    private async Task CopyToClipboard()
    {
        await JS.InvokeVoidAsync("copyToClipboard", Text);
    }
}
