<ul class="validation-errors" style="display: @(string.IsNullOrEmpty(Message) ? "none" : "block")">
    <li class="validation-message">@Message</li>
</ul>

@code {
    [Parameter] public string Message { get; set; } = "";
    [CascadingParameter] public EditContext Context { get; set; } = default!;
    [Parameter] public EventCallback ClearMessage { get; set; } 

    protected override void OnInitialized()
    {
        Context.OnFieldChanged += ClearMessageFromParent!;
    }

    private async void ClearMessageFromParent(object sender, FieldChangedEventArgs e)
    {
        await ClearMessage.InvokeAsync();
    }
}