@inherits ModalBase

@if (!string.IsNullOrWhiteSpace(ViewModel.Message))
{
    <div class="modal" @onmousedown="CloseModal">
        <div class="modal-content" @onmousedown:stopPropagation="true">
            <div class="modal-header">
                <span class="close" @onmousedown="CloseModal">&times;</span>
                <h2 class="header-text">@ViewModel.Header</h2>
            </div>
            <div class="modal-body">
                <h4 class="body-text">@ViewModel.Message</h4>
            </div>
        </div>
    </div>
}