@if (loggedInUserInfo?.IsAuthenticated == true)
{
    <strong>Hello, @loggedInUserInfo?.Claims?.FirstOrDefault(x=>x.Type == "name")?.Value</strong>
    <form method="post" action="api/Account/Logout">
        <AntiForgeryTokenInput/>
        <button id="signout-btn" class="nav-link" type="submit">Sign out</button>
    </form>
}
else 
{
    <a id="login-link" class="nav-link" href="api/Account/Login">Log in</a>
}