@inherits LayoutComponentBase

<div id="main">
    <div id="top-row">
        <div id="top-row-content">
            <div id="logo">
                <img id="logo-img" width="48" src="/cart128.png" alt="Logo" @onclick="GoToIndex"/>
                <h3 id="logo-header">Grocery List Helper</h3>
            </div>
            <LoginDisplay />
        </div>
    </div>

    <div id="content">
        @Body
    </div>
</div>

<Modal />