#main {
    min-height: 100vh;
    min-width: 840px;
    background-image: url("../store-transparent.webp");
}


#top-row {
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
}

@media (prefers-color-scheme: dark) {
    #top-row {
        background-color: #ccc;
    }
}

#top-row-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-max-width);
    width: 100%;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    transition-duration: 0.2s;
}

    .logo:hover {
        font-weight: bolder;
    }

#content {
    padding-bottom: 0.1rem;
    margin: auto;
    max-width: var(--content-max-width);
    background-color: var(--color-light);
    color: var(--color-dark);
    opacity: 0.95;
}

@media (prefers-color-scheme: dark) {
    #content {
        background-color: var(--color-dark);
        color: var(--color-light);
    }
}

#logo {
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

#logo-img {
    cursor: pointer;
}

.profile-menu-container {
    position: relative;
    z-index: 2;
    margin: 1rem;
}

.profile-btn {
    background-color: rgb(134, 239, 172);
    border: 2px solid rgb(22, 163, 74);
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 100px;
    cursor: pointer;
}
    .profile-btn:hover {
        background-color: rgb(96, 233, 146);
    }

.profile-menu {
    position: absolute;
    border: 1px solid white;
    right: 0;
}

.signout-form {
}

.profile-menu-btn {
    background: rgb(210, 200, 200);
    color: rgb(0 123 255);
    padding: 0.5rem;
}
    .profile-menu-btn:is(:hover, :active, :focus) {
        background: rgb(200, 192, 192);
    }

.cart-group-btn {

}