@page "/about"
<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value="About" />

<h3 class="text-center">Grocery List Collector<sup> &copy;M&S Productions</sup></h3>
<h5 class="text-center">Helps you remember</h5>
<br />
<h5 class="text-center">This site stores your email and uses cookies to store your session.</h5>
<h5 class="text-center">By using this site you agree to the use of cookies.</h5>

