@page "/about"


<h3 class="text-center">Grocery List Collector<sup> &copy;M&S Productions</sup></h3>
<h5 class="text-center">Helps you remember</h5>
<br />
<h5 class="text-center">This site stores your email.</h5>

