@page "/login"
<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value="Login" />

<fieldset>
    <legend class="legend">Login</legend>
    <EditForm Model="user" OnValidSubmit="LoginMethod">
        <FluentValidationValidator />
        <ValidationSummary />
        <CustomValidationMessage Message="@Message" ClearMessage="(()=>Message=string.Empty)" />
        <InputTextComponent DisplayName="Email" @bind-Value="@user.Email" />
        <InputTextComponent DisplayName="Password" IsPassword="true" @bind-Value="@user.Password" />
        <button class="btn btn-primary" type="submit" disabled="@isBusy">Login</button>
    </EditForm>
</fieldset>



