name: Build and deploy ASP.Net Core app to Azure Web App GroceryListHelper

permissions:
  id-token: write
  contents: read
  actions: read
  security-events: write

on:
  push:
    branches:
      - master

  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: windows-latest
    env:
      AddLogging: false

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Start Azure Cosmos DB emulator
        run: |
          Write-Host "Launching Cosmos DB Emulator"
          Import-Module "$env:ProgramFiles\Azure Cosmos DB Emulator\PSModules\Microsoft.Azure.CosmosDB.Emulator"
          Start-CosmosDbEmulator -Timeout 900

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.x'

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24.x

      - name: Build client
        working-directory: GroceryListHelper.Client
        run: |
          npm ci
          npm run build

      - name: Run Tests
        run: |
          dotnet test GroceryListHelper.Tests -c Release

      - name: Install Playwright
        run: |
          dotnet build GroceryListHelper.E2ETests -c Release
          pwsh GroceryListHelper.E2ETests/bin/Release/net10.0/playwright.ps1 install

      - name: Run E2E Tests
        run: dotnet test GroceryListHelper.E2ETests -c Release

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test
    env:
      WebappPackagePath: 'publish'
      WebsiteName: 'grocerylisthelper'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.x'

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24.x

      - name: Build client
        working-directory: GroceryListHelper.Client
        run: |
          npm i
          npm run build
                  
      - name: Publish app
        run: dotnet publish GroceryListHelper.Server -o "${{ env.WebappPackagePath }}"

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy Azure Infra
        run: >
          az deployment group create --resource-group ${{ secrets.AZURE_RG }} 
          --template-file Infrastructure/main.bicep 
          --parameters webSiteName=${{ env.WebsiteName }} allowedIps="${{ secrets.ALLOWED_IPS }}"

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.WebsiteName }}
          package: ${{ env.WebappPackagePath }}
